<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Einbindung des Zeichensatzes -->
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="sessid" content="{{sessionId}}" />
    <meta name="loggedinusername" content="{{username}}" />

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Catan Multiplayer</title>

    <!-- Einbindung der Meta-Daten -->
    <meta http-equiv="content-language" content="en_US" />
    <meta http-equiv="imagetoolbar" content="no" />

    <base href="https://catanonline.exozet.com/" />

    <!-- Einbindung von Javascript und Stylesheets -->
    <script type="text/javascript" src="static/generated/core.js?1467206466"> </script>
    <link rel="stylesheet" href="static/generated/layout.css?1467206467" type="text/css" />
    <!-- Einbindung des zentralen Stylesheets -->
    <link rel="stylesheet" href="static/css/screen/webview.css" media="only screen and (min--moz-device-pixel-ratio: 1), only screen and (-o-min-device-pixel-ratio: 1/1), only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-pixel-ratio: 1)" type="text/css" />
    <link rel="stylesheet" href="static/css/screen/webview@2x.css" media="only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-width:1100px)" />

    <!-- Einbindung des IE-Anpassungsstylesheets -->
    <!--[if lte IE 8]><link href="static/css/patches/patch_layout.css" rel="stylesheet" type="text/css" /><![endif]-->

    <!-- Einbindung html5 für IE -->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- Einbindung des Favicons -->
    <link rel="shortcut icon" href="static/images/favicon.ico" />

    <script type="text/javascript">
    /* scaling/hiding things on iOS keyboard usage during input */

    </script>
</head>

<body>

    <!-- anfang: seitenlayout -->
    <div class="page">

        <!-- anfang: #header -->
        <header id="header" role="banner">
            <h1 class="logo hide"><a href="https://catanonline.exozet.com/">Catan</a></h1>

        </header>
        <!-- ende: #header -->


        <!-- anfang: #main -->
        <div id="main" class="jsb_ jsb_keyboard_space">


        </div>
        <!-- ende: #main -->

    </div>
    <!-- ende: seitenlayout -->

    <div id="loadingDiv" class="mod_loading">
        <span class="spinner"></span>
    </div>

    <div id="dialog" class="mod_dialog">
        <div class="dialogbox bg_dialog sprite">
            <div class="content">
                <h2>Dialog Headline</h2>
                <span></span>
                <div class="mod_buttons">
                    <a href="#" id="btn_ok" class="btn sprite"><span class="sprite">OK</span></a>
                    <a href="#" id="btn_cancel" class="btn sprite"><span class="sprite">Cancel</span></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>